<html>
    <head>
        <title>Blog</title>
    </head>

    <body>
        <div>
           <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>publikacja: 03.11.2017</p>
            <h2><a href="">Mój pierwszy</a></h2>
            <p>Jeszcze Polska nie zginęła póki my żyjemy</p>
        </div>

        <div>
            <p>publikacja: 03.11.2017</p>
            <h2><a href="">Mój drugi</a></h2>
            <p>Co nam obca moc wydarła, szblą odbierzemy</p>
        </div>
    </body>

</html>
